<h1>audalai</h1>
<% if current_user %>
  <p>Welcome, <%= current_user.nickname || "anonymous marmot"%>!</p>
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Sign up", signup_path %>
  <%= link_to "Sign in", login_path %>
<% end %>
